


:root {
    font-size: 10px;
}

*, 
*::before, 
*::after {
    /* box-sizing: border-box; */
    z-index: 0;
    position: relative;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #edf6fc;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.head {
    flex-basis: 4rem;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    background-color: #dee9ef;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.head .btn {
    background-color: #858c91;
    opacity: 0.5;
    border-radius: 0.3rem;
    transition: background-color 150ms;
}

.head .btn:hover {
    background-color: #3385b5;
}

.boards-menu {
    display: flex;
}

.boards-btn {
    flex-basis: 9rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
    margin-right: 0.8rem;
    padding: 0.6rem 0.8rem;
}

.board-search {
    position: relative;
}

.board-search-input {
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #858c91;
    opacity: 0.5;
    width: 100%;
    padding: 0 3rem 0 1rem;
    color: #ffffff;
}

.board-search-input:hover {
    background-color: #66a4c8;
}

.logo {
    flex: 1;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 2.2rem;
    font-weight: 700;
    color: #858c91;
    margin: 0 2rem;
    transition: color 150ms;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.logo:hover {
    color: rgba(255, 255, 255, 0.8);
}

.user-settings {
    display: flex;
    height: 3rem;
    color: #ffffff;
}

.user-settings-btn {
    font-size: 1.5rem;
    width: 3rem;
    margin-right: 0.8rem;
}

.board-info-bar {
    flex-basis: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 0;
    padding: 0 1rem;
    color: white;
    background-color: #edf6fc;
}

.board-controls {
    display: flex;
}

.board-controls .btn {
    margin-right: 1rem;
}

.board-info-bar .btn {
    font-size: 1.4rem;
    font-weight: 400;
    transition: background-color 150ms;
    padding: 0 0.6rem;
    border-radius: 0.3rem;
    height: 3rem;
}

.board-info-bar .btn:hover {
    background-color: #006aa8;
}

.private-btn-icon,
.menu-btn-icon {
    padding-right: 0.6rem;
    white-space: nowrap;
}

.board-title  {
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
    background-color: #858c91;
    opacity: 0.5;
}
.personal-btn {
  background-color: #858c91;
  opacity: 0.5;
}
.private-btn{
  background-color: #858c91;
  opacity: 0.5;
}
.menu-btn{
  background-color: #858c91;
  opacity: 0.5;
}
.star-btn{
  background-color: #858c91;
  opacity: 0.5;
}

.lists-container {
    display: flex;
    align-items: start;
    padding: 0 0.8rem 0.8rem;
    overflow-x: auto;
    height: calc(100vh - 8.6rem);
}

.list {
    flex: 0 0 27rem;
    display: flex;
    flex-direction: column;
    background-color: #e2e4e6;
    max-height: calc(100vh - 11.8rem);
    border-radius: 0.3rem;
    margin-right: 1rem;
}

.list-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    padding: 1rem;
}

.list-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: start;
    padding: 0 0.6rem 0.5rem 0.6rem;
    overflow-y: auto;
}

.list-items li {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.3;
    background-color: #ffffff;
    padding: 0.65rem 0.6rem;
    color: #4d4d4d;
    border-bottom: 0.1rem solid #ccc;
    border-radius: 0.3rem;
    margin-bottom: 0.6rem;
    word-wrap: break-word;
    cursor: pointer;
}

.list-items li:hover {
    background-color: #fff;
}

.list-items textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: 0;
    overflow: hidden;
    resize: vertical;
    outline: none;
}

.list-items textarea:hover {
    background-color: #eee;
}

.list-items textarea:focus {
    background-color: #fff;
}

.material-icons {
    font-size: 80%;
    color: #bbb;
}

.material-icons:hover {
    color: #838c91;
}


.add-card-btn {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #838c91;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
}

.add-card-btn:hover {
    background-color: #cdd2d4;
    color: #4d4d4d;
    text-decoration: underline;
}

.add-list-btn {
    flex: 0 0 27rem;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #e2e4e6;
    color: #000000;
    opacity: 0.5;
    padding: 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 150ms;
    text-align: left;
}

.add-list-btn:hover {
    background-color: #cdd2d4;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #ddd;
    border-radius: 16px;
    text-align: center;
    padding: 20px 20px 120px;
}
.textpop {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    display: block;
}
.timetag {
    font-size: 15px;
}
h3 {
    font-size: 20px;
}
.licontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}