:root {
    font-size: 10px;
 }
 body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #edf6fc;
 }
 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
 }
 .head {
    flex-basis: 5rem;
    display: flex;
    align-items: center;
    padding: 0 0.8rem;
    background-color: #dee9ef;
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
 }
 .head .btn {
    background-color: #0000ff;
    opacity: 0.5;
    border-radius: 0.5rem;
    transition: background-color 130ms;
 }
 .head .btn:hover {
    background-color: #3385b5;
 }
 .boards-menu {
    display: flex;
 }
 .boards-btn {
    flex-basis: 15rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
    margin-right: 0.8rem;
    padding: 0.6rem 0.8rem;
 }
 .board-search {
    position: relative;
 }
 .logo {
    flex: 1;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 2.2rem;
    font-weight: 700;
    color: #858c91;
    margin: 0 2rem;
    transition: color 150ms;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
 }
 .logo:hover {
    color: rgba(255, 255, 255, 0.8);
 }
 .board-info-bar {
    flex-basis: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 0;
    padding: 0 1rem;
    color: white;
    background-color: #edf6fc;
 }
 .board-controls .btn {
    margin-right: 1rem;
 }
 .board-info-bar .btn {
    font-size: 1.4rem;
    font-weight: 400;
    transition: background-color 130ms;
    padding: 0 0.6rem;
    border-radius: 0.3rem;
    height: 3rem;
 }
 .board-info-bar .btn:hover {
    background-color: #006aa8;
 }
 .board-title  {
    font-size: 1.8rem;
    font-weight: 700;
    white-space: nowrap;
    background-color: #858c91;
    opacity: 0.5;
 }
 .lists-container {
    display: flex;
    align-items: start;
    padding: 0 0.8rem 0.8rem;
    margin: 2rem 0 0 0;
 }
 .list {
    flex: 0 0 27rem;
    display: flex;
    flex-direction: column;
    background-color: #e2e4e6;
    border-radius: 0.5rem;
    margin-right: 1rem;
 }
 .list-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #333;
    padding: 1rem;
 }
 .list-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: start;
  padding: 0 0.6rem 0.5rem 0.6rem;
  overflow-y: auto;
 }
 .list-items li {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3;
  background-color: #ffffff;
  padding: 0.65rem 0.6rem;
  color: #4d4d4d;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  cursor: pointer;
 }
 .list-items li:hover {
    background-color: #fff;
 }
 .list-items textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    border: 0;
    overflow: hidden;
    resize: vertical;
    outline: none;
 }
 .list-items textarea:hover {
    background-color: #eee;
 }
 .list-items textarea:focus {
    background-color: #fff;
 }
 .add-card-btn {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    color: #838c91;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
 }
 .add-card-btn:hover {
    background-color: #cdd2d4;
    color: #4d4d4d;
    text-decoration: underline;
 }
 .add-list-btn {
    flex: 0 0 27rem;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: #e2e4e6;
    color: #000000;
    opacity: 0.5;
    padding: 1rem;
    margin: 2rem 0 0 0;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 130ms;
    text-align: left;
 }
 .add-list-btn:hover {
    background-color: #cdd2d4;
 }
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
    cursor: pointer;
    user-select: none;
    align-items: center;
    justify-content: center;
}
.popup {
  flex: 0 0 27rem;
  display: flex;
  flex-direction: column;
  background-color: #e2e4e6;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}
.textpop {
    display: flex;
    background-color: #fff;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 5px ;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.timetag {
    font-size: 15px;
}
.popup button{
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  color: #838c91;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  border-radius: 0.4rem;
}
.popup button:hover{
  background-color: #cdd2d4;
  color: #4d4d4d;
  text-decoration: underline;
}
.licontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}